.gallery {
  margin-top: 7%;
}
.gallery h6 {
  border: cyan 2px solid;
  border-radius: 2em;
  width: 12%;
  padding-left: 2%;
}
.gallery h3 {
  text-transform: capitalize;
}
.wrapper .search-icon {
  padding-left: 30%;
}

.top {
  padding-top: 15px;
  padding-bottom: 15px;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  /* margin: 5% 3% 5% 2%; */
}
.wrapper .gallery-img {
  /* padding: 5% 3% 5% 2%; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  overflow: hidden;
}

.wrapper:hover .overlay {
  opacity: 1;
}
